body{
    text-align: center;
    }
    li{
    text-align: left;
    }

    /* div{
        width:100%;
        height: 200px;
        background-color: antiquewhite;
        cursor: url(man.png),auto;
        cursor: url(man1.jpg),auto;
        }
        p{
        height: 30px;
        font-size: large;
        } */